<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.components.ComposeUIActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.TextComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.LayoutComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.RVCardComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.StateComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.FragmentComposeActivity"
            android:exported="true"
            android:label="@string/fragment_compose_label"
            android:theme="@style/SuperCoolAppBarActivity" />

        <activity
            android:name=".ui.components.XMLInComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.navigation.NavigationComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.bottomnavigation.BottomNavigationActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.CommonUIActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ui.viewpager.ViewPagerComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.ImagePickerComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.ButtonsUIActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.TabViewComposeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.ConstraintLayoutComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.components.ToggleButtonComposeActivity"
            android:exported="true" />
    </application>

</manifest>